* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --primary_color: #dbe4e5;
  --secondary_color: rgb(179, 142, 75);
  --text_color: rgb(40, 38, 38);
  --hover: rgb(13, 67, 13);
}

body {
  background-color: var(--primary_color);
  color: var(--text_color);
}
main {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: var(--secondary_color);
}
a:hover {
  color: var(--hover);
}
li {
  list-style: none;
}
